{% extends 'base.html' %}

{% block title %}
BRICASH-APP | Barang Masuk
{% endblock %}

{% block titleNav %}
Barang Masuk
{% endblock %}

{% block content %}
<div class="container mt-4 bg-dark rounded">
    <div class="container text-white p-3">
        PENCATATAN BARANG MASUK |
        <button class="btn btn-info btn-sm text-white" data-bs-toggle="modal" data-bs-target="#addModal">Add <i
                class="fa fa-plus"></i></button>
        <button class="btn btn-info btn-sm text-white" data-bs-toggle="modal" data-bs-target="#addMultipleModal">Add
            Multiple <i class="fa fa-plus"></i></button>

        <div class="modal fade text-dark" id="addModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add/Edit Barang Masuk</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="date-achieve" class="col-form-label">Tanggal Terima Barang</label>
                                <input type="datetime-local" class="form-control" id="date-achieve">
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Vendor</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="mb-3">
                                <label for="courier-name" class="col-form-label">Nama Pengirim</label>
                                <input type="text" class="form-control" id="courier-name">
                            </div>
                            <div class="mb-3">
                                <label for="position-worker" class="col-form-label">Jabatan</label>
                                <input type="text" class="form-control" id="position-worker">
                            </div>
                            <div class="mb-3">
                                <label for="necessity-text" class="col-form-label">Keperluan</label>
                                <textarea class="form-control" id="necessity-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade text-dark" id="addMultipleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Recipient:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Message:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send message</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}