{% extends 'base.html' %}

{% block title %}
BRICASH-APP | Barang Keluar
{% endblock %}

{% block titleNav %}
Barang Keluar
{% endblock %}

{% block content %}
<div class="container border my-5 shadow p-3 mb-5 bg-body rounded">
    <div class="container p-3">
        <span class="fw-bold">PENCATATAN BARANG KELUAR | </span>
        <!-- Button Add -->
        <button class="btn btn-primary btn-sm" title="Tambah satu data" data-bs-toggle="modal"
            data-bs-target="#addModal">Tambah <i class="fa fa-plus"></i></button>

        <form action="/BRICASH-APP/BarangKeluar/Search" class="float-end">
            <label for="search-box">Cari data:</label>
            <select name="kategori">
                <option value=""></option>
                <option value="tgl">Tanggal</option>
                <option value="sender">Petugas</option>
                <option value="vendor">Tujuan</option>
                <option value="po">No PO</option>
                <option value="sparepart">Sparepart</option>
                <option value="sn">Serial Number</option>
                <option value="ket">Keterangan</option>
            </select>
            <input type="text" name="search_box" id="search-box">
            <input type="submit" value="Cari">
        </form>

        <!-- Modal Add -->
        <div class="modal modal-scrollable fade text-dark" data-bs-backdrop="static" data-bs-keyboard="false"
            id="addModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tambah Barang Keluar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/BRICASH-APP/BarangKeluar/Tambah" method="post">
                            <div class="mb-3">
                                <label for="date-achieve" class="col-form-label">Tanggal Kirim Barang</label>
                                <input type="date" class="form-control" id="date-achieve" name="date_achieve" required>
                            </div>
                            <div class="mb-3">
                                <label for="vendor-name" class="col-form-label">Tujuan</label>
                                <select class="form-select" id="vendor-name" name="vendor_name" required>
                                    <option value="" selected>Pilih tujuan</option>
                                    {% for vendor in vList %}
                                    <option value="{{ vendor[0] }}">{{ vendor[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="courier-name" class="col-form-label">Nama Petugas</label>
                                <input type="text" class="form-control" id="courier-name" name="courier_name"
                                    maxlength="20" required>
                            </div>
                            <div class="mb-3">
                                <label for="purchase-order" class="col-form-label">No Purchase Order</label>
                                <input type="text" class="form-control" id="purchase-order" name="purchase_order"
                                    maxlength="30" required>
                            </div>
                            <div class="mb-3">
                                <label for="sparepart-name" class="col-form-label">Sparepart</label>
                                <select class="form-select" id="sparepart-name" name="sparepart_name" required>
                                    <option value="" selected>Pilih sparepart</option>
                                    {% for sparepart in sList %}
                                    <option value="{{ sparepart[0] }}">
                                        {{ sparepart[3] }}|{{ sparepart[4] }}|{{ sparepart[2] }}|{{ sparepart[5] }}|{{ sparepart[1] }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="serial_number" class="col-form-label">Serial Number</label>
                                <input type="text" class="form-control" id="serial-number" name="serial_number"
                                    maxlength="20" required>
                            </div>
                            <div class="mb-3">
                                <label for="keterangan" class="col-form-label">Keterangan</label>
                                <input type="text" class="form-control" name="keterangan" id="keterangan class="
                                    form-control" maxlength="20" required>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Batal</button>
                        <input type="submit" class="btn btn-success" name="addSingle" value="Simpan">
                    </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- Data Table -->
        <table class="table table-dark table-striped p-3 my-5">
            <thead>
                <tr class="text-center">
                    <th scope="col">No</th>
                    <th scope="col" hidden>ID</th>
                    <th scope="col">Tanggal</th>
                    <th scope="col">Tujuan</th>
                    <th scope="col" hidden>ID Vendor</th>
                    <th scope="col">Nama Petugas</th>
                    <th scope="col" hidden>ID List Barang</th>
                    <th scope="col">No Purchase Order</th>
                    <th scope="col">Nama Sparepart</th>
                    <th scope="col" hidden>ID Sparepart</th>
                    <th scope="col">Serial Number</th>
                    <th scope="col">Keterangan</th>
                    <th scope="col">Opsi</th>
                </tr>
            </thead>
            <tbody>
                {% for data in showData %}
                <tr class="text-center">
                    <td>{{ loop.index }}</td>
                    <td hidden>{{ data[0] }}</td>
                    <td>{{ data[1] }}</td>
                    <td>{{ data[3] }}</td>
                    <td hidden>{{ data[2] }}</td>
                    <td>{{ data[4] }}</td>
                    <td hidden>{{ data[9] }}</td>
                    <td>{{ data[5] }}</td>
                    <td>{{ data[7] }}</td>
                    <td hidden>{{ data[6] }}</td>
                    <td>{{ data[8] }}</td>
                    <td>{{ data[10] }}</td>
                    <td class="text-start">
                        <!-- Button delete modal -->
                        <button type="button" class="btn btn-sm btn-outline btn-danger" data-bs-toggle="modal"
                            data-bs-target="#hapusModal-{{ data[0] }}">
                            <i class="fa fa-trash-alt"></i>
                        </button>

                        <!-- Button edit modal -->
                        <button type="button" class="btn btn-sm btn-outline btn-warning" data-bs-toggle="modal"
                            data-bs-target="#editModal-{{ data[0] }}">
                            <i class="fa fa-edit"></i></button>

                        <!-- Modal Hapus -->
                        <div class="modal fade" id="hapusModal-{{ data[0] }}" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-dark" id="modalHapusData">Hapus data</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-dark">Anda yakin ingin menghapus data ini?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal
                                        </button>
                                        <a href="/BRICASH-APP/BarangKeluar/Hapus/{{ data[0] }}">
                                            <button type="button" class="btn btn-danger">Hapus
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal Edit -->
                        <div class="modal fade text-dark" data-bs-backdrop="static" data-bs-keyboard="false"
                            id="editModal-{{ data[0] }}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-dark" id="modalEditData">Edit data</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/BRICASH-APP/BarangKeluar/Update/{{ data[0] }}/{{ data[9] }}"
                                            method="post">
                                            <div class="form-group" hidden>
                                                <label class="col-form-label">ID:</label>
                                                <input class="form-control" name="temp_id" type="text"
                                                    value="{{ data[0] }}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="date-achieve" class="col-form-label">Tanggal Terima
                                                    Barang</label>
                                                <input type="date" class="form-control" id="date-achieve"
                                                    name="date_achieve" value="{{ data[1] }}" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="vendor-name" class="col-form-label">Vendor</label>
                                                <select class="form-select" id="vendor-name" name="vendor_name"
                                                    required>
                                                    <option value="{{ data[2] }}" selected>{{ data[3] }}</option>
                                                    {% for vendor in vList %}
                                                    <option value="{{ vendor[0] }}">{{ vendor[1] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="courier-name" class="col-form-label">Nama Petugas</label>
                                                <input type="text" class="form-control" id="courier-name"
                                                    name="courier_name" maxlength="20" value="{{ data[4] }}" required>
                                            </div>
                                            <div class="form-group" hidden>
                                                <label class="col-form-label">ID List Barang:</label>
                                                <input class="form-control" name="temp_id_list_barang" type="text"
                                                    value="{{ data[9] }}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="purchase-order" class="col-form-label">No Purchase
                                                    Order</label>
                                                <input type="text" class="form-control" id="purchase-order"
                                                    name="purchase_order" maxlength="30" value="{{ data[5] }}" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="sparepart-name" class="col-form-label">Sparepart</label>
                                                <select class="form-select" id="sparepart-name" name="sparepart_name"
                                                    required>
                                                    <option value="{{ data[6] }}" selected>{{ data[7] }}</option>
                                                    {% for sparepart in sList %}
                                                    <option value="{{ sparepart[0] }}">
                                                        {{ sparepart[3] }}|{{ sparepart[4] }}|{{ sparepart[2] }}|{{ sparepart[5] }}|{{ sparepart[1] }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="serial_number" class="col-form-label">Serial Number</label>
                                                <input type="text" class="form-control" id="serial-number"
                                                    name="serial_number" maxlength="20" value="{{ data[8] }}" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="keterangan" class="col-form-label">Keterangan</label>
                                                <input type="text" class="form-control" name="keterangan"
                                                    id="keterangan" maxlength="20" value="{{ data[10] }}" required>
                                            </div>
                                            <div class=" modal-footer">
                                                <button type="button" class="btn btn-danger"
                                                    data-bs-dismiss="modal">Batal
                                                </button>
                                                <input type="submit" class="btn btn-success" value="Simpan">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}