{% extends 'base.html' %}

{% block title %}
BRICASH-APP | Barang Masuk
{% endblock %}

{% block titleNav %}
Barang Masuk
{% endblock %}

{% block content %}
<div class="container border my-5 shadow p-3 mb-5 bg-body rounded">
    <div class="container p-3">
        <span class="fw-bold">PENCATATAN BARANG MASUK | </span>
        <!-- Button Add -->
        <button class="btn btn-primary btn-sm" title="Tambah satu data" data-bs-toggle="modal"
            data-bs-target="#addModal">Tambah <i class="fa fa-plus"></i></button>
        <!-- Button Add Multiple-->
        <button class="btn btn-primary btn-sm" title="Tambah banyak data sekaligus" data-bs-toggle="modal"
            data-bs-target="#addMultipleModal">Tambah
            Sekaligus <i class="fa fa-plus"></i></button>

        <!-- Modal Add -->
        <div class="modal modal-scrollable fade text-dark" data-bs-backdrop="static" data-bs-keyboard="false"
            id="addModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add/Edit Barang Masuk</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/BRICASH-APP/BarangMasuk/Tambah" method="post">
                            <div class="mb-3">
                                <label for="date-achieve" class="col-form-label">Tanggal Terima Barang</label>
                                <input type="date" class="form-control" id="date-achieve" name="date_achieve" required>
                            </div>
                            <div class="mb-3">
                                <label for="vendor-name" class="col-form-label">Vendor</label>
                                <select class="form-select" id="vendor-name" name="vendor_name" required>
                                    <option value="" selected>Pilih vendor</option>
                                    {% for vendor in vList %}
                                    <option value="{{ vendor[0] }}">{{ vendor[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="courier-name" class="col-form-label">Nama Pengirim</label>
                                <input type="text" class="form-control" id="courier-name" name="courier_name"
                                    maxlength="20" required>
                            </div>
                            <div class="mb-3">
                                <label for="position-worker" class="col-form-label">Jabatan</label>
                                <input type="text" class="form-control" id="position-worker" name="position_worker"
                                    maxlength="20" required>
                            </div>
                            <div class="mb-3">
                                <label for="purchase-order" class="col-form-label">No Purchase Order</label>
                                <input type="text" class="form-control" id="purchase-order" name="purchase_order"
                                    maxlength="30" required>
                            </div>
                            <div class="mb-3">
                                <label for="delivery_order" class="col-form-label">No Delivery Order</label>
                                <input type="text" class="form-control" id="delivery_order" name="delivery_order"
                                    maxlength="30" required>
                            </div>
                            <div class="mb-3">
                                <label for="sparepart-name" class="col-form-label">Sparepart</label>
                                <select class="form-select" id="sparepart-name" name="sparepart_name" required>
                                    <option value="" selected>Pilih sparepart</option>
                                    {% for sparepart in sList %}
                                    <option value="{{ sparepart[0] }}">
                                        {{ sparepart[3] }}|{{ sparepart[4] }}|{{ sparepart[2] }}|{{ sparepart[5] }}|{{ sparepart[1] }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="serial_number" class="col-form-label">Serial Number</label>
                                <input type="text" class="form-control" id="serial-number" name="serial_number"
                                    maxlength="20" required>
                            </div>
                            <div class="mb-3">
                                <label for="total-add" class="col-form-label">Jumlah</label>
                                <input type="number" class="form-control" name="total_add" id="total-add" min="1" required>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Batal</button>
                        <input type="submit" class="btn btn-success" name="addSingle" value="Simpan">
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal Add Multiple -->
        <div class="modal fade text-dark" id="addMultipleModal" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/BRICASH-APP/BarangMasuk/Tambah" method="post">
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Recipient:</label>
                                <input type="text" class="form-control" id="recipient-name" required>
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Message:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-success" name="addMultiple" value="Simpan">
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Data Table -->
        <table class="table table-dark table-striped p-3 my-5">
            <thead>
                <tr class="text-center">
                    <th scope="col">No</th>
                    <th scope="col" hidden>ID</th>
                    <th scope="col">Tanggal</th>
                    <th scope="col">Vendor</th>
                    <th scope="col" hidden>ID Vendor</th>
                    <th scope="col">Nama Pengirim</th>
                    <th scope="col">Jabatan</th>
                    <th scope="col">No Purchase Order</th>
                    <th scope="col">No Delivery Order</th>
                    <th scope="col">Nama Sparepart</th>
                    <th scope="col">Serial Number</th>
                    <th scope="col">Opsi</th>
                </tr>
            </thead>
            <tbody>
                {% for data in showData %}
                <tr class="text-center">
                    <td>{{ loop.index }}</td>
                    <td hidden>{{ data[0] }}</td>
                    <td>{{ data[1] }}</td>
                    <td hidden>{{ data[2] }}</td>
                    <td>{{ data[3] }}</td>
                    <td>{{ data[4] }}</td>
                    <td>{{ data[5] }}</td>
                    <td>{{ data[6] }}</td>
                    <td hidden>{{ data[7] }}</td>
                    <td>{{ data[8] }}</td>
                    <td>{{ data[9] }}</td>
                    <td>{{ data[10] }}</td>
                    <td>
                        <!-- Button delete modal -->
                        <button type="button" class="btn btn-sm btn-outline btn-danger" data-bs-toggle="modal"
                            data-bs-target="#hapusModal-{{ data[0] }}">
                            <i class="fa fa-trash-alt"></i>
                        </button>

                        <!-- Button edit modal -->
                        <button type="button" class="btn btn-sm btn-outline btn-warning" data-bs-toggle="modal"
                            data-bs-target="#editModal-{{ data[0] }}">
                            <i class="fa fa-edit"></i></button>

                        <!-- Modal Hapus -->
                        <div class="modal fade" id="hapusModal-{{ data[0] }}" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-dark" id="modalHapusData">Hapus data</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-dark">Anda yakin ingin menghapus data sparepart ini?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal
                                        </button>
                                        <a href="/BRICASH-APP/BarangMasuk/Hapus/{{ data[0] }}">
                                            <button type="button" class="btn btn-danger">Hapus
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal Edit -->
                        <div class="modal fade text-dark" data-bs-backdrop="static" data-bs-keyboard="false"
                            id="editModal-{{ data[0] }}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-dark" id="modalEditData">Edit data</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post">
                                            <div class="form-group" hidden>
                                                <label class="col-form-label">ID:</label>
                                                <input class="form-control" name="temp_id" type="text"
                                                    value="{{ data[0] }}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="date-achieve" class="col-form-label">Tanggal Terima Barang</label>
                                                <input type="date" class="form-control" id="date-achieve" name="date_achieve" value="{{ data[1] }}" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="sparepart-name" class="col-form-label">Vendor</label>
                                                <input type="text" class="form-control" name="sparepart_name"
                                                    id="sparepart-name" value="{{ data[1] }}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="machine-type" class="col-form-label">Tipe Mesin</label>
                                                <input type="text" class="form-control" name="machine_type"
                                                    id="machine-type" value="{{ data[2] }}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="brand" class="col-form-label">Brand</label>
                                                <input type="text" class="form-control" name="brand" id="brand"
                                                    value="{{ data[3] }}">
                                            </div>
                                            <div class=" mb-3">
                                                <label for="machine-series" class="col-form-label">Seri Mesin</label>
                                                <input type="text" class="form-control" name="machine_series"
                                                    id="machine-series" value="{{ data[4] }}">
                                            </div>
                                            <div class=" mb-3">
                                                <label for="sparepart-code" class="col-form-label">Kode
                                                    Sparepart</label>
                                                <input type="text" class="form-control" name="sparepart_code"
                                                    id="sparepart-code" value="{{ data[5] }}">
                                            </div>
                                            <div class=" modal-footer">
                                                <a href="#">
                                                    <button type="button" class="btn btn-success">Simpan
                                                    </button>
                                                </a>
                                                <button type="button" class="btn btn-danger"
                                                    data-bs-dismiss="modal">Batal
                                                </button>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}