{% extends 'base.html' %}

{% block title %}
BRICASH-APP | Laporan
{% endblock %}

{% block titleNav %}
Laporan
{% endblock %}

{% block content %}
<div class="container-fluid p-4">
    <div class="container border my-3 shadow p-3 mb-5 bg-body rounded">
        <div class="container p-3">
            <span class="fw-bold">LAPORAN KELUAR MASUK | </span>
            <!-- Button Outcome -->
            <button onclick="window.location='/BRICASH-APP/Report/Cat/Keluar'" class="btn btn-primary btn-sm">Barang
                Keluar <i class="fa-solid fa-box-open"></i></button>
            <!-- Button Income -->
            <button onclick="window.location='/BRICASH-APP/Report/Cat/Masuk'" class="btn btn-primary btn-sm">Barang
                Masuk <i class="fa-solid fa-box"></i></button>

            <!-- Data Table -->
            <div class="table-responsive">
                {% if btn|length %}

                {% if ('Keluar' in btn or "Masuk" in btn) %}
                <div class="container mt-3 px-0">
                    <form action="/BRICASH-APP/Report/Search/{{ btn }}" class="w-25" method="POST">
                        <input type="date" class="form-control" name="date_start" title="Dari Tanggal" required>
                        <input type="date" class="form-control mt-3" name="date_end" title="Hingga Tanggal" required>
                        <input type="submit" class="form-control mt-3" value="Cari">
                    </form>
                    <button class="btn btn-sm btn-success mt-2 w-25"
                        onclick="window.location='/BRICASH-APP/Report/Download/{{ btn }}'">Cetak Laporan {{ btn }}
                        <i class="fa-solid fa-file-arrow-down"></i></button>
                </div>
                {% endif %}

                <table class="table table-dark table-striped mt-3 text-center">
                    {% if btn == 'Keluar' %}
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Tanggal</th>
                            <th scope="col">Tujuan</th>
                            <th scope="col">Nama Petugas</th>
                            <th scope="col">No Purchase Order</th>
                            <th scope="col">Nama Sparepart</th>
                            <th scope="col">Serial Number</th>
                            <th scope="col">Keterangan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ i[0] }}</td>
                            <td>{{ i[1] }}</td>
                            <td>{{ i[2] }}</td>
                            <td>{{ i[3] }}</td>
                            <td>{{ i[4] }}</td>
                            <td>{{ i[5] }}</td>
                            <td>{{ i[6] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% elif btn == 'Masuk' %}
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Tanggal</th>
                            <th scope="col">Vendor</th>
                            <th scope="col">Nama Pengirim</th>
                            <th scope="col">No Purchase Order</th>
                            <th scope="col">No Delivery Order</th>
                            <th scope="col">Nama Sparepart</th>
                            <th scope="col">Serial Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ i[0] }}</td>
                            <td>{{ i[1] }}</td>
                            <td>{{ i[2] }}</td>
                            <td>{{ i[3] }}</td>
                            <td>{{ i[4] }}</td>
                            <td>{{ i[5] }}</td>
                            <td>{{ i[6] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
                {% else %}
                <div class="container mt-3">
                    <h5>PILIH JENIS LAPORAN</h5>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}