{% extends 'base.html' %}

{% block title %}
BRICASH-APP | Pusat Data
{% endblock %}

{% block titleNav %}
Pusat Data
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!--Sparepart Area-->
    <div class="container border my-5 shadow p-3 mb-5 bg-body rounded">
        <h5 class="float-start">Data Sparepart</h5>
        <!-- Button add spareparts-->
        <button class="btn btn-success btn-sm text-white float-end" title="Tambah data sparepart baru"
                data-bs-toggle="modal" data-bs-target="#addModal">Tambah Sparepart <i class="fa fa-plus"></i></button>

        <!-- Modal add spareparts -->
        <div class="modal fade text-dark" id="addModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tambah Data</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/BRICASH-APP/DataCenter/AddSparepart" method="post">
                            <div class="mb-3">
                                <label for="sparepart-name" class="col-form-label">Nama Sparepart</label>
                                <input type="text" class="form-control" name="sparepart_name" id="sparepart-name"
                                       maxlength="40" required>
                            </div>
                            <div class="mb-3">
                                <label for="machine-type" class="col-form-label">Tipe Mesin</label>
                                <input type="text" class="form-control" name="machine_type" id="machine-type"
                                       maxlength="10" required>
                            </div>
                            <div class="mb-3">
                                <label for="brand" class="col-form-label">Brand</label>
                                <input type="text" class="form-control" name="brand" id="brand" maxlength="20" required>
                            </div>
                            <div class="mb-3">
                                <label for="machine-series" class="col-form-label">Seri Mesin</label>
                                <input type="text" class="form-control" name="machine_series" id="machine-series"
                                       maxlength="20" required>
                            </div>
                            <div class="mb-3">
                                <label for="sparepart-code" class="col-form-label">Kode Sparepart</label>
                                <input type="text" class="form-control" name="sparepart_code" id="sparepart-code"
                                       maxlength="10" required>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Tutup</button>
                        <input type="submit" class="btn btn-success" value="Simpan">
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <!--End Add Sparepart here-->

        <!-- Data Table -->
        <table class="table table-dark table-striped p-3 mt-5">
            <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col" hidden>ID</th>
                <th scope="col">Nama Sparepart</th>
                <th scope="col">Tipe Mesin</th>
                <th scope="col">Brand</th>
                <th scope="col">Seri Mesin</th>
                <th scope="col">Kode Sparepart</th>
                <th scope="col">Opsi</th>
            </tr>
            </thead>
            <tbody>
            {% for spareparts in sparepart_data %}
            <tr>
                <td>{{ loop.index }}</td>
                <td hidden>{{ spareparts[0] }}</td>
                <td>{{ spareparts[1] }}</td>
                <td>{{ spareparts[2] }}</td>
                <td>{{ spareparts[3] }}</td>
                <td>{{ spareparts[4] }}</td>
                <td>{{ spareparts[5] }}</td>
                <td>
                    <!-- Button edit modal -->
                    <button type="button" class="btn btn-sm btn-outline btn-warning" data-bs-toggle="modal"
                            data-bs-target="#editModal-{{ spareparts[0] }}">
                        <i class="fa fa-edit"></i></button>


                    <!-- Modal Edit -->
                    <div class="modal fade text-dark" data-bs-backdrop="static" data-bs-keyboard="false"
                         id="editModal-{{ spareparts[0] }}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-dark" id="modalEditData">Edit data</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/BRICASH-APP/DataCenter/UpdateSparepart/{{ spareparts[0] }}"
                                          method="post">
                                        <div class="form-group" hidden>
                                            <label class="col-form-label">ID:</label>
                                            <input class="form-control" name="temp_id" type="text"
                                                   value="{{ spareparts[0] }}" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="sparepart-name" class="col-form-label">Nama
                                                Sparepart</label>
                                            <input type="text" class="form-control" name="sparepart_name"
                                                   id="sparepart-name" value="{{ spareparts[1] }}" maxlength="40"
                                                   required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="machine-type" class="col-form-label">Tipe Mesin</label>
                                            <input type="text" class="form-control" name="machine_type"
                                                   id="machine-type" value="{{ spareparts[2] }}" maxlength="10"
                                                   required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="brand" class="col-form-label">Brand</label>
                                            <input type="text" class="form-control" name="brand" id="brand"
                                                   value="{{ spareparts[3] }}" maxlength="20" required>
                                        </div>
                                        <div class=" mb-3">
                                            <label for="machine-series" class="col-form-label">Seri Mesin</label>
                                            <input type="text" class="form-control" name="machine_series"
                                                   id="machine-series" value="{{ spareparts[4] }}" maxlength="20"
                                                   required>
                                        </div>
                                        <div class=" mb-3">
                                            <label for="sparepart-code" class="col-form-label">Kode
                                                Sparepart</label>
                                            <input type="text" class="form-control" name="sparepart_code"
                                                   id="sparepart-code" value="{{ spareparts[5] }}" maxlength="10"
                                                   required>
                                        </div>
                                        <div class=" modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                    data-bs-dismiss="modal">Batal
                                            </button>
                                            <input type="submit" class="btn btn-success" value="Simpan">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- Pagination -->
        <nav aria-label="Page navigation example" class="overflow-auto w-25 mt-4">
            <ul class="pagination">
                <li class="page-item">
                    {% if prev >= 1 %}
                    <a class="page-link" href="/BRICASH-APP/DataCenter/Sparepart/Page/{{ prev }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    {% endif %}
                </li>
                {% for page in range(page) %}
                <li class="page-item"><a class="page-link"
                                         href="/BRICASH-APP/DataCenter/Sparepart/Page/{{ loop.index }}">{{ loop.index
                    }}</a></li>
                {% endfor %}
                <li class="page-item">
                    {% if next <= page %}
                    <a class="page-link" href="/BRICASH-APP/DataCenter/Sparepart/Page/{{ next }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}